* {
  font-family: 'Neue Montreal', sans-serif;
  color: #1F2328;
}

body {
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 52%, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 52%, 0.6);
}


h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #1F2328;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 10px #1F2328;
}

#scroll-up {
  cursor: pointer;
}

.mail {
  color: white;
  font-size: 18px;
}

.big-name {
  font-size: 10vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: white;
  letter-spacing: 5px;
  height: 100vh;
  align-items: center;
  position: relative;
  cursor: default;
  text-align: center;
  background: linear-gradient(rgb(0,0,100,0.2), rgba(0, 0, 0, 0.3)), url("./Rouen.jpg");
}

#cesi, #about-me {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  background: #E5E4E4;
  gap: 40px;
}

#about-me {
  background-color: white;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.about-me-title {
  color: #24292f;
  margin: 0;
}

.about-me-div {
  width: 100%;
  box-shadow: 0px 0px 5px 0px #24292f;
  border-radius: 10px;
}

.about-me-div h2 {
text-align: center;
}

.year-selector-container {
  display: flex;
  height: 50px;
  gap: 5%;
  margin: 0 10%;
}

.cesi-title {
  color: #24292f;
  font-size: 50px;
  text-align: center;
  margin: 10px;
}

.year-selector {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px #24292f;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.year-selector:hover {
  background: white;
}

.year-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.year {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  text-align: center;
  color: #24292f;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.project-container {
  display: flex; 
  flex-direction:column;
  gap: 10px;
  width: 100%;
}

.project {
  display: flex;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 10px;
}

.project:hover {
  box-shadow: 1px 1px 13px 0px #24292f;
}

.project-title {
  color:#120a09;
  display: flex;
  gap: 20px;
  align-items: center;
}

.project-title svg {
  height: 60px;
  width: 60px;

}

.context-container {
  min-height: 200px;
}

.skill-container {
  min-height: 200px;
}

.project:hover .context-container, .skill-container{
  display: none;
}
.project:hover .skill-container, .context-container {
  display: flex;
  flex-direction: column;
}

.context-and-skill {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

p, li {
  font-size: 18px;
  line-height: 26px;
}

footer {
  width: 100%;
  background-color: #1F2328;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  box-sizing: border-box;
}

footer svg {
  height: 50px;
}

.footer-text {
  color: white;
}

@media (max-width: 650px) {
  .about-me-container {
    flex-wrap: wrap;
  }

  .cesi-title {
    font-size: 40px;
  }

  .year-selector {
    font-size: 14px;
  }

  .year {
    font-size: 30px;
    padding: 10px;
  }

  .project-title {
    font-size: 20px;
  }

  p, li {
    font-size: 15px;
    line-height: 22px;
  }
}